.Footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  background: #e7e7e7;
  color: #2f2f2f;
  padding: 50px 0;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 30px;
}
